main{
    margin:15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
p{
    line-height: 2;
}
.animation{
    width: 350px;
}
.body{
    animation: fadeIn 1s ease-in-out;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.intro{
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: var(--box-shadow);
        border-radius: 8px;
        margin: 10px;
        padding: 15px;
        max-width: 800px;
}
.extra{
    display: flex;
    flex-direction: row;
    
}

.facts{
    flex-direction: column;
    margin: 5px;
}

.skills:hover{
    color:var(--hover-color);
    cursor: pointer;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}