.job-card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
}
.exp-title{
    margin-bottom: 25px;
}

.job-card-title-title {
    margin: 0;
}

.job-card-when {
    margin: 0;
    text-align: right;
}