.project-container{
    margin-bottom: 10px;
    padding: 10px;
}
.project-card-display{
    display: flex;
    flex-direction: row;
}

.project-img{
    width:400px;
    height:400px;
}
.project-card-display-item{
    width:40%;
    margin-right:15px;
}


.project-card-utilized {
     font-size: 2rem;
}
.project-icon-github {
    display: inline-block;
    padding-right: 5px;
    color: var(--primary-color);
}
.project-icon{
    padding-right: 5px;
}

.project-icon-github:hover {
    transform: scaleX(1.2) scaleY(1.2);
    transition: transform 0.3s ease;
    transform-origin: center;
}