.card-container{
    height:auto;
}

.card-course {
    text-decoration: underline;
    transition: transform 0.3s ease, font-size 0.3s ease;
}

.card-course:hover {
    cursor: pointer;
    text-decoration: none;
}


.card-course-selected:hover{
    cursor: pointer;
}
.card-icon{
    font-size: 30px;
}