.skills-container {
    display: flex;
    flex-direction: column;
    margin-left: 40px;

}
.skills-all{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.skills-skill{
    width:50%;
    margin-top: 20px;
}
h2.skills-skill-title{
    font-size: 45px;
}

.skills-list{
    margin: 0px;
}
.skills-list-item{
    font-size: 25px;
    font-weight: 200;
    margin-bottom: 5px;
    color:var(--fourth-color);
}



