.font {
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Projects {
    display: flex;
    flex-direction: column;
}

.project {
    background-color:aliceblue;
    color: inherit;
    border: 1px solid black;
    box-shadow: 0px 0px 2px black;
    border-radius: 4px;
    padding: 15px;
    margin: 15px;
    min-width: 750px;
    max-width: 750px;
}
.impact{
    flex-direction: column;
}
h1 {
    margin: 5px;
}

h2 {
    margin: 5px;
}
h4 {

    margin: 0px;
}
h5{
    margin: 0px;
        padding-left: 20px;
}
h6 {
    margin: 0px;
    padding-left: 20px;
}