.font {
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
main{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.container{
    display: flex;
    flex-direction: column;
}
.degree{
    background-color:aliceblue;
    border: 1px solid black;
    box-shadow: 0px 0px 2px black;
    border-radius: 4px;
    padding: 15px;
    margin: 15px;
    min-width: 750px;
    max-width: 750px;
}
.courses {
    display: flex;
    flex-direction: column;
}
title{
    color: inherit;
    text-decoration: underline;
}
.course{
    margin: 0px;
    padding:0px;
}
.course:hover{
    color:rgb(201, 207, 212);
    cursor: pointer;
}
h1{
    margin: 5px;
}
h2{
    margin: 5px;
}
h4{

    margin: 0px;
    text-decoration: none;
}
h6{
    margin:0px;
    padding-left: 20px;
}
.course {

}