nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 25px;
}

.home {
    margin-right: 100px;
    color: inherit;
}

.home:hover {
    color:rgb(201, 207, 212);
    font-weight: bold;
}

ul {
    display: flex;
    flex-direction: row;
}

a {
    list-style-type: none;
    padding-right: 40px;
    color: inherit;
    text-decoration: none;
    transition: transform 0.3s ease, color 0.3s ease;
    text-decoration: underline;
}

a:hover {
    color:rgb(201, 207, 212);
    text-decoration: none;
    font-weight: bold;
    transform: scale(1.2);
}