
nav {
    width: 25%;              /* Fixed width */
    height: 100%;           /* Full height of the viewport */
    display: flex;
    flex-direction: column;  /* Stack items vertically */
    justify-content: center; /* Center items vertically */
    align-items: center;     /* Center items horizontally */
    position: fixed;        /* Stick to the viewport */
    top: 0;                  /* Align at the top */
    color: var(--third-color);
    background-color: var(--primary-color); /* Consistent background */
}

a.nav-item {
    display: inline-block;
    color: var(--third-color);
    transition: color 0.3s ease, transform 0.3s ease; 
}

a.nav-item:hover {
    color: #FAFAFA;
    cursor: pointer;
    transform: scale(1.1) translateY(-3px);
}

a.nav-item:active {
    transform: scale(1) translateY(1px);
    cursor: pointer;
    color: var(--highlight-color);

}