nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 10px;
}

.home {
    margin-right: 100px;
    color: inherit;
}

.home:hover {
    color: rgb(60, 37, 37);
    font-weight: bold;
}

ul {
    display: flex;
    flex-direction: row;
}

a {
    list-style-type: none;
    padding-right: 40px;
    color: inherit;
    text-decoration: none;
    transition: transform 0.3s ease, color 0.3s ease;
}

a:hover {
    color: rgb(60, 37, 37);
    font-weight: bold;
    transform: scale(1.2);
}